html {
    background: linear-gradient(cyan,blue);
}
h1  {
    text-align: center;
    margin-bottom: 300px;
}


#clock {
    text-align: center;
    font-size: 300px;
    border-style: solid;
    border-radius: 100px;    
    font-family: 'Black Ops One', cursive;

}

body {
    text-align: center;
}

button {
    margin-top: -1000px;
}

#footer {
    display: flex;
    justify-content: space-between;
    color: white;

}